@model IEnumerable<SelfBoard.Domain.Entities.ApplicationUser>

@foreach (var frend in Model)
{
    <div class="frend-infarmation">
        <div>
            <img class="frend-avatar" src="@Url.Action("GetIconImage", "Image", new { UserId = frend.Id })" />
        </div>
        <div>
            <table>
                <tr><td>Состояние : </td><td>@Html.Action("GetOnline", "Image", new { UserId = frend.Id })</td></tr>
                <tr><td>Имя/Фамилия : </td><td>@frend.FirstName</td><td>@frend.LastName</td></tr>
            </table>
        </div>
        <div style="float: right; margin-top: 10px;">
            @{ Html.RenderAction("FrendMenu", "Navigation", new { UserId = frend.Id }); }
        </div>
    </div>
}
