@model SelfBoard.WebUI.Models.LoginModel
@{
    Layout = "~/Views/Shared/_AuthUser.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div>Логин:</div>
    <div>@Html.EditorFor(x => x.Email)</div>
    <div>Пароль:</div>
    <div>@Html.EditorFor(x => x.Password)</div>
    <div><input class="actionButtons" type="submit" value="Войти" /></div>
}


