@model IEnumerable<SelfBoard.Domain.Entities.ApplicationUser>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="frend-infarmation">
    @{ Html.RenderAction("FrendsRequestMenu", "Navigation"); }
</div>

@foreach (var frend in Model)
{
    <div class="frend-infarmation">
        <div>
            <img class="frend-avatar" src="@Url.Action("GetIconImage", "Image", new { UserId = frend.Id })" />
        </div>
        <div>
            <table>
                <tr><td class="ninja">Состояние : </td><td>@Html.Action("GetOnline", "Image", new { UserId = frend.Id })</td></tr>
                <tr><td class="ninja">Имя/Фамилия : </td><td>@frend.FirstName</td><td>@frend.LastName</td></tr>
            </table>
        </div>
        <div style="float: right;">
            @{ Html.RenderAction("FrendMenu", "Navigation", new { UserId = frend.Id }); }
        </div>
    </div>
                }  