@model SelfBoard.Domain.Entities.ApplicationUser
@{
    ViewBag.Title = "RedactImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="info">
    <div>
        <img class="avatar" src="@Url.Action("GetImage", "Image", new { UserId = Model.Id })" />
    </div>
    <div>
        @Html.Action("RedactImageMenu", "Navigation", new { UserId = Model.Id })

        @using (Html.BeginForm("PostImsge", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.Hidden("UserId", Model.Id)
            <table>
                <tr>
                    <td><input id="image-file" type="file" name="Image" /></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Загрузить фото" /></td>
                    @Html.ValidationSummary(true)
                </tr>
            </table>
        }
    </div>
</div>
